head{
    background-color: blueviolet;
}
body{
    background-image: url(png/background/back4.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    border-radius: 0%;
}
h1{
    text-align: center;
    position: relative;
    color: #25ac2a;
    top: -20px;
}
#reset_w{
    left: 50px;
    position: absolute;
    border: 2px solid #4CAF50;
}
#cur_step{
    left :1px;
    top :1px;
    position: absolute;
    z-index :1000px;
    opacity :0.0;
}
#cur_step2{
    left :1px;
    top :1px;
    position: absolute;
    z-index :1000px;
    opacity :0.0;
}
.desk{
    position :absolute;
    left :435px;
    top :80px;
    z-index : -100;
}

#chess_figure_10{
    position :absolute;
    top :434px;
    left :682px;
}
#chess_figure_9{
    position :absolute;
    top :434px;
    left :627px;
    
}
#chess_figure_8{
    position :absolute;
    top :434px;
    left :572px;
}
#chess_figure_7{
    position :absolute;
    top :434px;
    left :517px;
}
#chess_figure_6{
    position :absolute;
    top :434px;
    left :462px;
}
#chess_figure_11{
    position :absolute;
    top :434px;
    left :737px;
}
#chess_figure_13{
    position :absolute;
    top :434px;
    left :847px;
    
}
#chess_figure_12{
    position :absolute;
    top :434px;
    left :792px;
}
#chess_figure_1{
    position :absolute;
    top :488px;
    left :682px;
}
#chess_figure_3{
    position :absolute;
    top :488px;
    left :627px;
    
}
#chess_figure_2{
    position :absolute;
    top :488px;
    left :572px;
}
#chess_figure_4{
    position :absolute;
    top :488px;
    left :517px;
}
#chess_figure_5{
    position :absolute;
    top :488px;
    left :462px;
}
#chess_figure_15{
    position :absolute;
    top :488px;
    left :737px;
}
#chess_figure_16{
    position :absolute;
    top :488px;
    left :792px;
}
#chess_figure_14{
    position :absolute;
    top :488px;
    left :847px;
}


#chess_figure_1_b{
    position :absolute;
    top :104px;
    left :682px;
}
#chess_figure_3_b{
    position :absolute;
    top :104px;
    left :627px;
    
}
#chess_figure_2_b{
    position :absolute;
    top :104px;
    left :572px;
}
#chess_figure_4_b{
    position :absolute;
    top :104px;
    left :517px;
}
#chess_figure_5_b{
    position :absolute;
    top :104px;
    left :462px;
}
#chess_figure_6_b{
    position :absolute;
    top :159px;
    left :462px;
}
#chess_figure_7_b{
    position :absolute;
    top :159px;
    left :517px;
    
}
#chess_figure_8_b{
    position :absolute;
    top :159px;
    left :572px;
}
#chess_figure_9_b{
    position :absolute;
    top :159px;
    left :627px;
}
#chess_figure_10_b{
    position :absolute;
    top :159px;
    left :682px;
}
#chess_figure_11_b{
    position :absolute;
    top :159px;
    left :737px;
}
#chess_figure_12_b{
    position :absolute;
    top :159px;
    left :792px;
    
}
#chess_figure_13_b{
    position :absolute;
    top :159px;
    left :847px;
}
#chess_figure_15_b{
    position :absolute;
    top :104px;
    left :737px;
}
#chess_figure_16_b{
    position :absolute;
    top :104px;
    left :792px;
}
#chess_figure_14_b{
    position :absolute;
    top :104px;
    left :847px;
}
