{% extends 'main/base.html' %}

{% load static%}

{% block title %}
<link rel="stylesheet" type = "text/css" href="{% static 'main/css/main.css' %}">

<div class="container">
    <a href="{% url 'about' %}" class="navbar-brand">about us</a>
    <a href="{% url 'home' %}"  class="navbar-brand">Главная</a>
</div>
 
страница про нас!!

{% endblock%}

{% block text %}
<style>
    {% comment %} .desk{
        position :relative;
        text-align: center;
    } {% endcomment %}

    {% comment %} .figure{
        position :absolute;
        top :400px;
        left :500px;
} {% endcomment %}

</style>
{% endblock%}

{% block aboutcontent %}

<h1>страница для нас<h1>
    <div class = 'desk'>
        <p><img src= "{% static 'main/png/desk.png'%}" alt="chess_desk" id = "chess_desk" widht = 496 height = 492/></p>
    </div>  
        {% comment %} white_figures {% endcomment %}
        <img class = "figure_w_13" src= "{% static 'main/png/w_figures/chess.1.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_1"/> 
        <img class = "figure_w_11" src= "{% static 'main/png/w_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_2"/>
        <img class = "figure_w_12" src= "{% static 'main/png/w_figures/chess.3.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_3"/>
        <img class = "figure_w_10" src= "{% static 'main/png/w_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_4"/>
        <img class = "figure_w_9" src= "{% static 'main/png/w_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_5"/>
        <img class = "figure_w_1" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_6"/>
        <img class = "figure_w_2" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_7"/>
        <img class = "figure_w_3" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_8"/>
        <img class = "figure_w_4" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_9"/>
        <img class = "figure_w_5" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_10"/>
        <img class = "figure_w_6" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_11"/>
        <img class = "figure_w_7" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_12"/>
        <img class = "figure_w_8" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_13"/>
        <img class = "figure_w_16" src= "{% static 'main/png/w_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_14"/>
        <img class = "figure_w_14" src= "{% static 'main/png/w_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_15"/>
        <img class = "figure_w_15" src= "{% static 'main/png/w_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_16"/>
       
       
        {% comment %} black_figures {% endcomment %}
        <img class = "figure_b_13" src= "{% static 'main/png/b_figures/chess.1.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_1_b"/> 
        <img class = "figure_b_11" src= "{% static 'main/png/b_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_2_b"/>
        <img class = "figure_b_12" src= "{% static 'main/png/b_figures/chess.3.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_3_b"/>
        <img class = "figure_b_10" src= "{% static 'main/png/b_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_4_b"/>
        <img class = "figure_b_9" src= "{% static 'main/png/b_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_5_b"/>
        <img class = "figure_b_1" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_6_b"/>
        <img class = "figure_b_2" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_7_b"/>
        <img class = "figure_b_3" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_8_b"/>
        <img class = "figure_b_4" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_9_b"/>
        <img class = "figure_b_5" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_10_b"/>
        <img class = "figure_b_6" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_11_b"/>
        <img class = "figure_b_7" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_12_b"/>
        <img class = "figure_b_8" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_13_b"/>
        <img class = "figure_b_16" src= "{% static 'main/png/b_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_14_b"/>
        <img class = "figure_b_14" src= "{% static 'main/png/b_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_15_b"/>
        <img class = "figure_b_15" src= "{% static 'main/png/b_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_16_b"/>
        
        
        <script type="text/javascript">
            var elements = []
            var ids = ['chess_figure_1','chess_figure_2','chess_figure_3','chess_figure_4','chess_figure_5','chess_figure_6','chess_figure_7','chess_figure_8','chess_figure_9','chess_figure_10','chess_figure_11','chess_figure_12','chess_figure_13','chess_figure_14','chess_figure_15','chess_figure_16','chess_figure_1_b','chess_figure_2_b','chess_figure_3_b','chess_figure_4_b','chess_figure_5_b','chess_figure_6_b','chess_figure_7_b','chess_figure_8_b','chess_figure_9_b','chess_figure_10_b','chess_figure_11_b','chess_figure_12_b','chess_figure_13_b','chess_figure_14_b','chess_figure_15_b','chess_figure_16_b'];
            for (let i = 0;i < 33;i++){
                elements[i] = document.getElementById(ids[i]);

            }
            console.log(elements);
            //var chess_figure = document.getElementById("chess_figure_1");
            var chess_figure = elements[0];
            chess_figure.onmousedown = function(e) { 
            // 1. отследить нажатие

            // подготовить к перемещению
            // 2. разместить на том же месте, но в абсолютных координатах
            chess_figure.style.position = 'absolute';
            moveAt(e);
            // переместим в body, чтобы фигура был точно не внутри position:relative
            document.body.appendChild(chess_figure);

            chess_figure.style.zIndex = 1000; // показывать фигура над другими элементами

            // передвинуть фигуру под координаты курсора
            // и сдвинуть на половину ширины/высоты для центрирования
            function moveAt(e) {
                chess_figure.style.left = e.pageX - chess_figure.offsetWidth / 2 + 'px';
                chess_figure.style.top = e.pageY - chess_figure.offsetHeight / 2 + 'px';
            }
            function div(val, by){
                return (val - val % by) / by;
            }
            //выравнивание по квадрату
            function moveTo(e) {
                chess_figure.style.left = div((e.pageX - chess_figure.offsetWidth / 2) + 6,55) * 55 + 22 + 'px';
                chess_figure.style.top = div((e.pageY - chess_figure.offsetHeight / 2) + 32,55) * 55 - 6 + 'px';
            }

            // 3, перемещать по экрану
            document.onmousemove = function(e) {
                moveAt(e);
            }

            // 4. отследить окончание переноса
            chess_figure.onmouseup = function(e) {
                document.onmousemove = null;
                chess_figure.onmouseup = null;
                moveTo(e)
            }
            }
            chess_figure.ondragstart = function(e) {
                return false;
            };
        </script>


        <script type = 'text/javascript'>
        elements[1].onmousedown = function(e) { 
            elements[1].style.position = 'absolute';
            moveAt(e);
            document.body.appendChild(elements[1]);
            elements[1].style.zIndex = 1000;
            function moveAt(e) {
                elements[1].style.left = e.pageX - elements[1].offsetWidth / 2 + 'px';
                elements[1].style.top = e.pageY - elements[1].offsetHeight / 2 + 'px';
            }
            function div(val, by){
                    return (val - val % by) / by;
                }
                //выравнивание по квадрату
            function moveTo(e) {
                elements[1].style.left = div((e.pageX - elements[1].offsetWidth / 2) + 6,55) * 55 + 22 + 'px';
                elements[1].style.top = div((e.pageY - elements[1].offsetHeight / 2) + 32,55) * 55 - 6 + 'px';
            }
            document.onmousemove = function(e) {
                moveAt(e);
            }
            elements[1].onmouseup = function(e) {
                document.onmousemove = null;
                elements[1].onmouseup = null;
                moveTo(e);
            }
            }
        elements[1].ondragstart = function() {
            return false;
        };   

        </script>


{% endblock %}