{% extends 'main/base.html' %}

{% load static %}

{% block title %}


<div class="container">
    <a href="{% url 'about' %}" class="navbar-brand">about us</a>
    <a href="{% url 'home' %}"  class="navbar-brand">Главная</a>
</div>
 
страница про нас!!

{% endblock%}

{% block text %}

{% endblock%}

{% block aboutcontent %}

<h1>страница для нас</h1>
    <div class = 'desk'>
        <p><img src= "{% static 'main/png/desk.png'%}" alt="chess_desk" id = "chess_desk" widht = 496 height = 492/></p>
    </div>  
        {% comment %} white_figures {% endcomment %}
        <img class = "figure_w_13" src= "{% static 'main/png/w_figures/chess.1.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_1"/> 
        <img class = "figure_w_11" src= "{% static 'main/png/w_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_2"/>
        <img class = "figure_w_12" src= "{% static 'main/png/w_figures/chess.3.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_3"/>
        <img class = "figure_w_10" src= "{% static 'main/png/w_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_4"/>
        <img class = "figure_w_9" src= "{% static 'main/png/w_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_5"/>
        <img class = "figure_w_1" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_6"/>
        <img class = "figure_w_2" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_7"/>
        <img class = "figure_w_3" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_8"/>
        <img class = "figure_w_4" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_9"/>
        <img class = "figure_w_5" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_10"/>
        <img class = "figure_w_6" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_11"/>
        <img class = "figure_w_7" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_12"/>
        <img class = "figure_w_8" src= "{% static 'main/png/w_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_13"/>
        <img class = "figure_w_16" src= "{% static 'main/png/w_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_14"/>
        <img class = "figure_w_14" src= "{% static 'main/png/w_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_15"/>
        <img class = "figure_w_15" src= "{% static 'main/png/w_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_16"/>
       
       
        {% comment %} black_figures {% endcomment %}
        <img class = "figure_b_13" src= "{% static 'main/png/b_figures/chess.1.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_1_b"/> 
        <img class = "figure_b_11" src= "{% static 'main/png/b_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_2_b"/>
        <img class = "figure_b_12" src= "{% static 'main/png/b_figures/chess.3.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_3_b"/>
        <img class = "figure_b_10" src= "{% static 'main/png/b_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_4_b"/>
        <img class = "figure_b_9" src= "{% static 'main/png/b_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_5_b"/>
        <img class = "figure_b_1" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_6_b"/>
        <img class = "figure_b_2" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_7_b"/>
        <img class = "figure_b_3" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_8_b"/>
        <img class = "figure_b_4" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_9_b"/>
        <img class = "figure_b_5" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_10_b"/>
        <img class = "figure_b_6" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_11_b"/>
        <img class = "figure_b_7" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_12_b"/>
        <img class = "figure_b_8" src= "{% static 'main/png/b_figures/chess.6.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_13_b"/>
        <img class = "figure_b_16" src= "{% static 'main/png/b_figures/chess.5.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_14_b"/>
        <img class = "figure_b_14" src= "{% static 'main/png/b_figures/chess.2.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_15_b"/>
        <img class = "figure_b_15" src= "{% static 'main/png/b_figures/chess.4.png'%}" width = 55 height = 55 alt="chess_figure" id = "chess_figure_16_b"/>
        
        
        <script type="text/javascript">
            var elements = []
            var ids = ['chess_figure_1','chess_figure_2','chess_figure_3','chess_figure_4','chess_figure_5','chess_figure_6','chess_figure_7','chess_figure_8','chess_figure_9','chess_figure_10','chess_figure_11','chess_figure_12','chess_figure_13','chess_figure_14','chess_figure_15','chess_figure_16','chess_figure_1_b','chess_figure_2_b','chess_figure_3_b','chess_figure_4_b','chess_figure_5_b','chess_figure_6_b','chess_figure_7_b','chess_figure_8_b','chess_figure_9_b','chess_figure_10_b','chess_figure_11_b','chess_figure_12_b','chess_figure_13_b','chess_figure_14_b','chess_figure_15_b','chess_figure_16_b'];
            for (let i = 0;i < 32;i++){
                elements[i] = document.getElementById(ids[i]);
                elements[i].onmousedown = function(e) { 
                    elements[i].style.position = 'absolute';
                    var first_coorx = div((e.pageX - elements[i].offsetWidth / 2) + 6,55) * 55 + 22 + 'px';
                    var first_coory = div((e.pageY - elements[i].offsetHeight / 2) + 32,55) * 55 - 6 + 'px';
                    console.log(first_coorx,first_coory);
                    moveAt(e);
                    document.body.appendChild(elements[i]);
                    elements[i].style.zIndex = 1000;
                    function moveAt(e) {
                        elements[i].style.left = e.pageX - elements[i].offsetWidth / 2 + 'px';
                        elements[i].style.top = e.pageY - elements[i].offsetHeight / 2 + 'px';
                    }
                    function div(val, by){
                            return (val - val % by) / by;
                        }
                        //выравнивание по квадрату
                    function moveTo(e) {
                        elements[i].style.left = div((e.pageX - elements[i].offsetWidth / 2) + 6,55) * 55 + 22 + 'px';
                        elements[i].style.top = div((e.pageY - elements[i].offsetHeight / 2) + 32,55) * 55 - 6 + 'px';
                    }
                    document.onmousemove = function(e) {
                        moveAt(e);
                    }
                    elements[i].onmouseup = function(e) {
                        document.onmousemove = null;
                        elements[i].onmouseup = null;
                        //проверка что конечные координаты находятся на доске
                        if (div((e.pageX - elements[i].offsetWidth / 2) + 6,55) * 55 + 22 > 901){
                            elements[i].style.left = first_coorx;
                            elements[i].style.top = first_coory;

                        }else if(div((e.pageX - elements[i].offsetWidth / 2) + 6,55) * 55 + 22 < 461){
                            elements[i].style.left = first_coorx;
                            elements[i].style.top = first_coory;

                        }else if(div((e.pageY - elements[i].offsetHeight / 2) + 32,55) * 55 - 6 > 546){
                            elements[i].style.left = first_coorx;
                            elements[i].style.top = first_coory;

                        }else if(div((e.pageY - elements[i].offsetHeight / 2) + 32,55) * 55 - 6 < 106){
                            elements[i].style.left = first_coorx;
                            elements[i].style.top = first_coory;

                        }else{
                            moveTo(e);
                        }
                    }
                    }
                elements[i].ondragstart = function() {
                    return false;
                };   

            }
            console.log(elements);

        </script>

{% endblock %}